<script setup>
import * as linkify from 'linkifyjs'
import linkifyStr from 'linkify-string'
const options = {
  attributes: {
    rel: 'noopener',
    target: '_blank',
  },
  defaultProtocol: 'https',
  nl2br: true,
}

const { prev, next } = useContent('materialien')
</script>
<template>
  <div>
    <!-- <Toc /> -->
    <ContentDoc v-slot="{ doc }">
      <!-- Your template goes here. You can pick the keys from your YML file -->
      <h1 class="text-5xl font-medium tracking-wide mt-4 mb-8">{{ doc.title }}</h1>
      <img
        :src="doc.image"
        :alt="doc.title"
        v-if="doc.image"
        class="w-full sm:w-2/4 rounded-lg mb-6"
      />
      <div
        v-html="linkifyStr(doc.content, options)"
        class="text-lg font-normal tracking-wide mb-5"
      />
      <!-- <table class="table w-full">
        <tr v-if="doc.table" v-for="key of Object.keys(doc.table)" :key="key">
          <td class="p-4">{{ key }}</td>
          <td class="p-4" v-html="linkifyStr(doc.table[key])"></td>
        </tr>
      </table> -->
      <div class="grid sm:grid-cols-2 sm:gap-y-1 py-12 text-base" v-if="doc.table">
        <template
          v-for="key of Object.keys(doc.table)"
          :key="key"
          class="odd:bg-slate-50 even:bg-white"
        >
          <div class="text-left font-bold sm:font-normal sm:border-b-2 sm:px-1">{{ key }}</div>
          <div
            v-html="linkifyStr(doc.table[key], options)"
            class="pb-6 sm:pb-1 mb-6 sm:mb-0 border-b-2 overflow-hidden"
          ></div>
        </template>
      </div>
    </ContentDoc>
    <!-- Previous and Next Links -->
    <div class="flex">
      <nuxt-link
        v-if="prev"
        :to="prev._path"
        type="button"
        class="bg-white tracking-wide px-3.5 py-2.5 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-400 hover:bg-gray-20 !no-underline"
        >&larr; {{ prev.title }}</nuxt-link
      >
      <div class="flex-1"></div>
      <nuxt-link
        v-if="next"
        :to="next._path"
        type="button"
        class="bg-white tracking-wide px-3.5 py-2.5 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-400 hover:bg-gray-20 !no-underline"
        >{{ next.title }} &rarr;</nuxt-link
      >
    </div>
  </div>
</template>
