@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* clamp(min, value, max) */
  font-size: clamp(18px, 3vw, 28px);
}

.content a,
.footer a {
  @apply text-red-700 transition-all hover:text-red-900 underline duration-500;
}
