<template>
  <div class="font-bold flex bg-black text-white uppercase tracking-wide overflow-hidden items-end">
    <nuxt-link to="/">Matlib <span class="hidden sm:inline">Uni.li</span></nuxt-link>
    <nuxt-link to="/materialien">Materialien</nuxt-link>
  </div>
</template>
<style scoped>
a {
  @apply block transition-colors duration-300 p-4;
}
a:hover,
a.router-link-active {
  @apply bg-white text-black;
}
</style>
