<script setup>
// const search = ref(' ')
// const data = ref([])
const { data } = await useAsyncData(`content`, () => {
  return (
    queryContent('materialien/')
      // .where({
      //   $or: [
      //     { title: { $regex: `/${search.value}/ig` } },
      //     { table: { $regex: `/${search.value}/ig` } },
      //   ],
      // })
      .find()
  )
})

// onMounted(async () => {
//   await query(search.value)
// })

// await useAsyncData('mats', async () => {
//   await query(search.value)
// })

// watch(search, async (val) => {
//   await query(val)
// })

// const query = async (val) => {
//   data.value = await queryContent('materialien/')
//     .where({
//       $or: [{ title: { $regex: `/${val}/ig` } }, { table: { $regex: `/${val}/ig` } }],
//     })
//     .find()
// }

// const clear = async () => {
//   search.value = ''
//   await query(search.value)
// }
</script>
<template>
  <div>
    <!-- Search -->
    <!-- <div class="flex justify-end">
      <div class="bg-stone-100 p-1">
        <input type="text" v-model="search" placeholder="Search" class="px-2" />
        <button @click="clear()" class="py-1 px-2 text-center">X</button>
      </div>
    </div> -->
    <h1 class="text-5xl font-medium tracking-wide mt-4 mb-8">Materialien</h1>
    <ul class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4" role="list">
      <li v-for="item in data" :key="item._id">
        <nuxt-link
          :to="item._path"
          class="flex flex-col items-center justify-center aspect-square !text-black bg-cover bg-center bg-no-repeat rounded-lg"
          :style="`background-image: url(${item.image})`"
        >
          <span class="flex-1"></span>
          <span
            class="block justify-end px-2 py-1 text-base text-white w-full bg-black hover:bg-gray-800 rounded-bl-lg rounded-br-lg"
            >{{ item.title }}</span
          >
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>
